<div id="footer">
    <div class="footer-main">
        <div class="code-box">
            <ul>
                <li>
                    <img src="<%= require('assets/image/code-img01.png') %>" alt="订阅号-乐智小天地" class="img" />
                    <span class="name">官方微信订阅号</span>
                </li>
                <li>
                    <img src="<%= require('assets/image/code-img02.png') %>" alt="服务号-乐智小天地" class="img" />
                    <span class="name">官方微信服务号</span>
                </li>
            </ul>
        </div>
        <div class="contact-box">
            <div class="online-contact zxkf">
                <div class="name">在线客服</div>
                <img src="<%= require('assets/image/service-img.png') %>" alt="点击咨询" class="img" />
            </div>
            <div class="tel-contact">
                <span class="name">电话客服</span>
                <span class="more" id="moreTel">更多></span>
                <ul class="tel-list" id="telList">
                    <li>[免费] 800-820-5099</li>
                    <li>[付费] 400-820-5099</li>
                    <li>[付费] 021-61611122</li>
                </ul>
            </div>
            <div class="contact-time">客服服务时间:周一至周五9:00-18:00</div>
            <script>
                (function(a,h,c,b,f,g){a["UdeskApiObject"]=f;a[f]=a[f]||function(){(a[f].d=a[f].d||[]).push(arguments)};g=h.createElement(c);g.async=1;g.charset="utf-8";g.src=b;c=h.getElementsByTagName(c)[0];c.parentNode.insertBefore(g,c)})(window,document,"script","https://assets-cli.udesk.cn/im_client/js/udeskApi.js","ud");
                ud({
                    "code": "2a56gd57",
                    "link": "https://qiaohu.udesk.cn/im_client/?web_plugin_id=47113",
                    "targetSelector": ".zxkf",
                    "selector": ".zxkf",
                    "manualInit": true,
                    // "isInvite": true,
                    "mode": "inner",
                    // "color": "#307AE8",
                    // "pos_flag": "srb",
                    // "session_key": "lksfer",
                    // "language": "zh-cn", //语言-英文
                    // "onlineText": "联系客服，在线咨询",
                    // "offlineText": "客服下班，请留言",
                    // "mobile": { //为响应式布局，提供pc、mobile自定制
                    //     "mode": "blank",
                    //     "color": "#307AE8",
                    //     "pos_flag": "crb",
                    //     "onlineText": "联系客服，在线咨询",
                    //     "offlineText": "客服下班，请留言"
                    // }
                });
            </script>  
        </div>
    </div>
    <div class="contact-text">客服服务时间：周一至周五9:00~18:00（节假日除外）未开通800、400地区，请拨打：021-61611122</div>          
    <div class="contact-archival">
        <div class="archival-box">
            <div class="beianhou">
                <ul class="yqlj">
                    <li class="yqlj_li paddingleft_0"><a href="http://www.benesse.com.cn/" target="_blank" rel="nofollow">经销商倍乐生</a></li>
                    <li class="yqlj_li"><a href="http://www.qiaohu.com/link/Cooperation" target="_blank" rel="nofollow">商家合作</a></li>
                    <li class="yqlj_li"><a href="http://www.qiaohu.com/regional/index" target="_blank" rel="nofollow">区域合作及集体采购</a></li>
                    <li class="yqlj_li"><a href="http://www.qiaohu.com/weiquan/" target="_blank" rel="nofollow">正版盗版</a></li>
                    <li class="yqlj_li"><a href="https://qiaohu.udesk.cn/im_client/?web_plugin_id=80421" target="_blank" rel="nofollow">联系我们</a></li>
                    <li class="yqlj_li yqlast_li"><a href="http://fpxz.qiaohu.com/" target="_blank" rel="nofollow">用户须知</a></li>
                </ul>
                <div class="yqlj_bottom">
                    <a href="https://www.qiaohumall.com/top/yingyezhizhao.html" target="_blank" style="margin-left:30px;">&nbsp;&nbsp;&nbsp;营业执照</a>
                    <a href="https://www.qiaohumall.com/top/jingyingxuke.html" target="_blank" style="margin-left:30px;">&nbsp;&nbsp;&nbsp;出版物经营许可证</a>
                    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=31010402002441" class="record_link" rel="nofollow">
                        <img src="<%= require('assets/image/record_icon.png') %>" alt="徽章" class="img" />
                        <span>沪公网安备 31010402002441号</span>
                    </a>
                    <a href="https://beian.miit.gov.cn/#/Integrated/index" target="_blank" class="icp_gov" rel="nofollow">沪ICP备 10202970号</a>
                </div>
            </div>
            <div class="beianhou1">倍乐生商贸（中国）有限公司<br>广州倍乐生商贸有限公司</div>
        </div>
    </div>
    <div class="footer_index">
        <div class="footerInner_index">
            <img src="<%= require('assets/image/qiaohu-logo.png') %>" alt="巧虎乐智小天地官网"  />
            <span>乐智小天地and巧虎are registered trademarks of Benesse Corporation. 
                <br>   Copyright ©Benesse Corporation/巧虎<p></p>
        </span></div>
    </div>
</div>