<div class="copyright-weapper">
    <div class="copyright-main">
        <!-- 申请信息 -->
        <div class="copyright-info-box">
            <div class="img">
                <img src="<%= require('assets/image/apply_banner02.png') %>" alt="" class="icon" />
            </div>
            <div class="info">
                <div class="name">专利申请</div>
                <div>
                    <p><span>市场价：</span><span>￥1000-20000</span></p>
                    <p><span>优惠价：</span><span class="red">￥499起</span></p>
                </div>
                <div class="type">
                    <p class="title">类型</p>
                    <ul>
                        <li>作品版权注册</li>
                        <li>无材料担保注册</li>
                        <li>24小时下证</li>
                        <li>担保31-35工注册</li>
                        <li>担保26-30工注册</li>
                        <li>担保21-25工注册</li>
                        <li>其他短工注册</li>
                    </ul>
                </div>
                <div class="btn-box">
                    <span>在线咨询</span>
                    <span>电话咨询</span>
                </div>
            </div>
        </div>
        <!-- 证书 -->
        <div class="certificate-box">
            <div class="certificate-title">
                <span>最新软著证书一览</span>
            </div>
            <div class="certificate-main">
                <ul id="certificate">
                    <li><img src="<%= require('assets/image/copyright/zhengshu-item01.jpg') %>" alt="" class="icon" /></li>
                    <li><img src="<%= require('assets/image/copyright/zhengshu-item02.jpg') %>" alt="" class="icon" /></li>
                    <li><img src="<%= require('assets/image/copyright/zhengshu-item03.jpg') %>" alt="" class="icon" /></li>
                    <li><img src="<%= require('assets/image/copyright/zhengshu-item04.jpg') %>" alt="" class="icon" /></li>
                    <li><img src="<%= require('assets/image/copyright/zhengshu-item05.jpg') %>" alt="" class="icon" /></li>
                    <li><img src="<%= require('assets/image/copyright/zhengshu-item01.jpg') %>" alt="" class="icon" /></li>
                    <li><img src="<%= require('assets/image/copyright/zhengshu-item02.jpg') %>" alt="" class="icon" /></li>
                    <li><img src="<%= require('assets/image/copyright/zhengshu-item03.jpg') %>" alt="" class="icon" /></li>
                    <li><img src="<%= require('assets/image/copyright/zhengshu-item04.jpg') %>" alt="" class="icon" /></li>
                    <li><img src="<%= require('assets/image/copyright/zhengshu-item05.jpg') %>" alt="" class="icon" /></li>
                </ul>
            </div>
        </div>
        <!-- 登记好处 -->
        <div class="advantage-box">
            <div class="advantage-title">
                <span>版权登记好处</span>
            </div>
            <div class="advantage-main">
                <img src="<%= require('assets/image/copyright/copyright-item01.png') %>" alt="" class="icon" />
            </div>
        </div>
    </div>
</div>