<div class="apply-weapper">
    <div class="apply-main">
        <!-- 申请信息 -->
        <div class="apply-info-box">
            <div class="img">
                <img src="<%= require('assets/image/apply_banner01.png') %>" alt="" class="icon" />
            </div>
            <div class="info">
                <div class="name">专利申请</div>
                <div>
                    <p><span>市场价：</span><span>￥2000-6000</span></p>
                    <p><span>优惠价：</span><span class="red">￥699起</span></p>
                </div>
                <div class="type">
                    <p class="title">类型</p>
                    <ul>
                        <li>费用减免代办</li>
                        <li>发明专利申请</li>
                        <li>实用新型专利申请</li>
                        <li>外观设计专利申请</li>
                        <li>专利担保申请</li>
                        <li>专利购买</li>
                        <li>专利变更</li>
                    </ul>
                </div>
                <div class="btn-box">
                    <span>在线咨询</span>
                    <span>电话咨询</span>
                </div>
            </div>
        </div>
        <!-- 申请流程 -->
        <div class="flow-box">
            <div class="flow-title">
                <h2>专利申请的流程</h2>
                <p class="desc">一站式专利申请服务方便快捷</p>
            </div>
            <div class="flow-main">
                <ul>
                    <li class="item">
                        <div class="img"></div>
                        <p class="name">联系客服对接下单</p>
                        <p class="desc">前期免费检索技术交底</p>
                    </li>
                    <li class="item">
                        <div class="img"></div>
                        <p class="name">代理师撰写</p>
                        <p class="desc">代理师撰写客户确认稿件</p>
                    </li>
                    <li class="item">
                        <div class="img"></div>
                        <p class="name">国知局受理审查</p>
                        <p class="desc">提交申请国知局受理审查</p>
                    </li>
                    <li class="item">
                        <div class="img"></div>
                        <p class="name">急速快递证书</p>
                        <p class="desc">授权下证及时邮寄</p>
                    </li>
                </ul>
            </div>
            <div class="flow-main">
                <img src="<%= require('assets/image/apply/flow-main.png') %>" alt="" class="icon" />
                <img src="<%= require('assets/image/apply/flow-main02.png') %>" alt="" class="icon" />
                <img src="<%= require('assets/image/apply/flow-main03.png') %>" alt="" class="icon" />
                <img src="<%= require('assets/image/apply/flow-main04.png') %>" alt="" class="icon" />
            </div>
        </div>
    </div>
</div>