<div class="qiahu-addetail">
    <div class="qiahu-addetail-content">
        <img src="<%= require('assets/image/addetail/img_01.jpg') %>" alt="《乐智小天地Plus》系列商品" class="img" />
        <img src="<%= require('assets/image/addetail/img_02.jpg') %>" alt="《乐智小天地Plus》系列商品" class="img" />
        <img src="<%= require('assets/image/addetail/img_03.jpg') %>" alt="《乐智小天地Plus》系列商品" class="img" />
        <img src="<%= require('assets/image/addetail/img_04.jpg') %>" alt="《乐智小天地Plus》系列商品" class="img" />
        <img src="<%= require('assets/image/addetail/img_05.jpg') %>" alt="《乐智小天地Plus》系列商品" class="img" />
    </div>
</div>